page-register {
    .register-content {
      background: linear-gradient(to bottom, #003366 0%, #ccffff 100%);

    
   
      .register-box {
        background: #509287;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }
      
   
      ion-row {
         align-items: center;
         text-align: center;
       }
   
       ion-item {
           border-radius: 20px !important;
           padding-left: 20px !important;
           
           font-size: 1.07em;
           margin-bottom: 10px;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
   
       .signup-col {
         margin: 0px 16px 0px 16px;
         padding-bottom: 20px;
       }
   
       .item-inner {
         border-bottom-color: #ffffff !important;
         box-shadow: none !important;
       }
   
       .register-btn {
        background:linear-gradient(to top right, #003366 31%, #ffffff 99%);
        border-radius: 20px !important;
        border: 1.6px solid #ffffff;
       }
    }
  }